In [ ]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
import sklearn as sk
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
import time

from amb_sdk.sdk import DarwinSdk

In [2]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
ds.auth_login_user('vargasbri2@gmail.com', 'qNuNeX5JGY')

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTU5MTk3NjMsImlhdCI6MTU1NTkxMjU2MywibmJmIjoxNTU1OTEyNTYzLCJqdGkiOiJjM2YwODY5Mi0yOTA3LTRlNDUtOGMyNC0xOGI0ZDczZTc4MTIiLCJpZGVudGl0eSI6Ijc2NmRiM2JjLTRmMzUtMTFlOS1iMzEwLTc3ZWRkN2EzNzNhOSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.lnVRZ0pJXsSOHUMU0AXz1C8IbtcTCKLQClri6nmnozw')

In [6]:
#Removing Meas_Rpt, Meas_Exp, CRS_Rpt, CRS_Exp because not a lot of varying data
#Removing for too many missing values: High_Blood_Pres (0.515441), Few_Fruit_Veg (0.393824)
#Removed state and county names because not numerical
df_list = []
labels_col = 'HPSA_Ind'


def create_new_df(dataset_name, column_names):
    df = pd.read_csv(dataset_name)
    return df[column_names]

def merge_state_and_county_codes(df):
    df["State_And_County_FIPS_Code"] = df["State_FIPS_Code"].map(str) + "-" + df["County_FIPS_Code"].map(str)
    df = df.drop(columns = ['State_FIPS_Code', 'County_FIPS_Code'])
    return df

def sample_help():
    global df_list
    col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'Population_Size','Population_Density','Poverty','Age_19_Under','Age_19_64','Age_65_84','Age_85_and_Over','White','Black','Native_American','Asian','Hispanic']
    demographics_df = create_new_df("DEMOGRAPHICS.csv", col_names)
    df_list.append(demographics_df)

    col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'ALE', 'Health_Status']
    summ_meas_health_df = create_new_df("SUMMARYMEASURESOFHEALTH.csv", col_names)
    df_list.append(summ_meas_health_df)

    col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'LBW','VLBW','Premature','Under_18','Over_40','Late_Care','Infant_Mortality','Unmarried','Brst_Cancer','Col_Cancer','CHD','Lung_Cancer','Suicide']
    meas_birth_and_death_df = create_new_df("MEASURESOFBIRTHANDDEATH.csv", col_names)
    df_list.append(meas_birth_and_death_df)

    col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_HS_Diploma','Unemployed','Sev_Work_Disabled','Major_Depression','Recent_Drug_Use','Ecol_Rpt','Ecol_Exp','Salm_Rpt','Salm_Exp','Shig_Rpt','Shig_Exp']
    vuln_pop_and_env_health_df = create_new_df("VUNERABLEPOPSANDENVHEALTH.csv", col_names)
    df_list.append(vuln_pop_and_env_health_df)

    col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'FluB_Rpt','FluB_Exp','HepA_Rpt','HepA_Exp','HepB_Rpt','HepB_Exp','Pert_Rpt','Pert_Exp','Syphilis_Rpt','Syphilis_Exp']
    prev_services_df = create_new_df("PREVENTIVESERVICESUSE.csv", col_names)
    df_list.append(prev_services_df)

    col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_Exercise','Obesity','Smoker','Diabetes','Uninsured', labels_col]
    risk_factors_df = create_new_df("RISKFACTORSANDACCESSTOCARE.csv", col_names)
    df_list.append(risk_factors_df)
    
    #Merges State and County Codes for each df
    for df_idx in range(len(df_list)):
        df_list[df_idx] = merge_state_and_county_codes(df_list[df_idx])
        
def my_sample(n):
    global df_list
    sample_help()
    df_list = [df.set_index("State_And_County_FIPS_Code") for df in df_list]
    merged_df = df_list[0].join(df_list[1:])
    smaller_sample = merged_df.sample(n)
    smaller_sample.head()
    smaller_sample.to_csv('SAMPLEDDATASET.csv')
    

# my_sample(2000)

In [ ]:

# print(len(merged_df))

In [7]:
#START HERE - after creating SAMPLEDDATASET
filename = 'SAMPLEDDATASET.csv'
merged_df = pd.read_csv(filename, index_col='State_And_County_FIPS_Code')

In [8]:
merged_df = merged_df.replace([-9999, -9998.9, -2222.2, -2222, -1111.1, -1111, -2, -1], np.nan)
# merged_df.drop(columns=['State_And_County_FIPS_Code']) #Only needed for merging
merged_df.head()

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
48-267,4591,4,17.1,23.1,57.2,17.6,2.0,98.3,0.5,0.4,...,0,3,0,0,NaN,NaN,NaN,NaN,965.0,2
5-129,7969,12,21.8,20.9,59.3,16.9,2.9,98.0,0.2,0.8,...,21,2,0,1,28.6,NaN,23.5,12.4,2118.0,2
48-481,41554,38,15.6,28.8,57.5,11.8,1.8,84.2,14.5,0.5,...,1,6,8,4,NaN,NaN,15.6,11.8,7845.0,2
26-39,15074,27,12.5,22.3,61.1,14.6,2.0,95.9,2.5,0.7,...,1,1,0,4,NaN,NaN,NaN,10.3,1973.0,2
45-35,112858,196,11.2,26.6,63.9,8.6,1.0,71.4,25.2,0.7,...,12,10,4,5,25.3,27.0,22.1,7.1,12899.0,2

In [9]:
#Imputation
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
filled_data = imp.fit_transform(merged_df)
filled_df = pd.DataFrame(filled_data, columns=merged_df.columns)

df_feats = filled_df.loc[:, filled_df.columns != labels_col]
df_labels = merged_df.iloc[:, merged_df.columns == labels_col]
df_feats.head()

# merged_df.dropna(inplace=True)
# # new_merged_df = merged_df[merged_df.columns != 'State_And_County_FIPS_Code'] #only used to join datasets
# # merged_df = merged_df.loc[:, merged_df.columns != 'State_And_County_FIPS_Code']
# df_feats = merged_df.loc[:, merged_df.columns != labels_col]
# df_labels = merged_df.iloc[:, merged_df.columns == labels_col]

# print(len(merged_df))
# merged_df.head()

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,HepB_Exp,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured
0,4591.0,4.0,17.1,23.1,57.2,17.6,2.0,98.3,0.5,0.4,...,2.0,0.0,3.0,0.0,0.0,26.633262,24.168887,23.11587,7.796638,965.0
1,7969.0,12.0,21.8,20.9,59.3,16.9,2.9,98.0,0.2,0.8,...,2.0,21.0,2.0,0.0,1.0,28.600000,24.168887,23.50000,12.400000,2118.0
2,41554.0,38.0,15.6,28.8,57.5,11.8,1.8,84.2,14.5,0.5,...,4.0,1.0,6.0,8.0,4.0,26.633262,24.168887,15.60000,11.800000,7845.0
3,15074.0,27.0,12.5,22.3,61.1,14.6,2.0,95.9,2.5,0.7,...,4.0,1.0,1.0,0.0,4.0,26.633262,24.168887,23.11587,10.300000,1973.0
4,112858.0,196.0,11.2,26.6,63.9,8.6,1.0,71.4,25.2,0.7,...,15.0,12.0,10.0,4.0,5.0,25.300000,27.000000,22.10000,7.100000,12899.0

In [10]:
#Perform standardization
scaler = sk.preprocessing.StandardScaler(with_mean=0, with_std=1)
standardized_data = scaler.fit_transform(df_feats)
standardized_df = pd.DataFrame(standardized_data, columns=df_feats.columns, index=merged_df.index)
# print(standardized_data)
standardized_df.head()

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,HepB_Exp,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
48-267,0.014481,0.003833,3.477367,7.181861,16.667614,5.333130,2.117243,6.135751,0.034151,0.059450,...,0.072501,0.000000,0.107772,0.00000,0.000000,4.754315,5.877071,4.667118,3.073575,0.016117
5-129,0.025136,0.011498,4.433135,6.497874,17.279537,5.121017,3.070002,6.117025,0.013660,0.118900,...,0.072501,0.548360,0.071848,0.00000,0.027419,5.105399,5.877071,4.744674,4.888304,0.035374
48-481,0.131071,0.036411,3.172335,8.954008,16.755032,3.575622,1.905518,5.255648,0.990370,0.074313,...,0.145003,0.026112,0.215545,0.16844,0.109676,4.754315,5.877071,3.149656,4.651773,0.131024
26-39,0.047547,0.025871,2.541935,6.933138,17.804042,4.424074,2.117243,5.985946,0.170754,0.104038,...,0.145003,0.026112,0.035924,0.00000,0.109676,4.754315,5.877071,4.667118,4.060446,0.032952
45-35,0.355980,0.187804,2.277574,8.270021,18.619940,2.605961,1.058621,4.456690,1.721196,0.104038,...,0.543760,0.313349,0.359242,0.08422,0.137095,4.516314,6.565504,4.462013,2.798948,0.215434

In [11]:
#Perform PCA to reduce dimensionality
pca = PCA()

pca_data = pca.fit_transform(standardized_df)
pca_df = pd.DataFrame(pca_data, columns=standardized_df.columns, index=merged_df.index)
pca_df.head()

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,HepB_Exp,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
48-267,-1.566259,0.560488,1.384149,2.537828,0.746897,-0.212123,-0.898175,1.055979,-0.332058,-0.743536,...,0.015112,0.008016,-0.100886,0.004580,0.027538,-0.022406,0.036761,-0.022201,-0.000262,0.013927
5-129,-1.724290,1.749549,2.690684,-0.408630,0.086359,-0.712735,0.025589,1.764069,-1.797602,0.013359,...,0.064116,0.042749,-0.002686,-0.016248,0.083492,0.001213,0.008180,0.007419,-0.011467,-0.000126
48-481,-0.607729,1.181050,-0.494776,3.585611,-0.045433,-0.219206,-1.677337,0.141064,-0.034358,-0.102473,...,0.047867,-0.035978,-0.039264,0.047840,-0.072165,0.028307,-0.036187,-0.012980,0.008641,0.019483
26-39,-1.374806,0.848758,0.604481,-0.790270,0.797244,0.894896,0.963442,0.710223,-0.328074,0.339749,...,-0.038447,-0.048551,0.165967,-0.029711,0.020112,-0.018684,0.027932,-0.011239,-0.002515,-0.002862
45-35,0.925710,0.997256,-2.226410,-1.105993,-0.525132,0.820031,-0.501999,-0.607889,0.270041,1.427288,...,-0.139831,-0.015536,0.228784,-0.046414,-0.061755,-0.070643,0.154130,0.006802,0.027216,-0.017928

In [12]:
#Concatenate original labels that were removed for standardization and PCA
# df_labels.head()

pca_df = pca_df.join(df_labels[labels_col])

pca_df.head()
# print(merged_df[labels_col])

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
48-267,-1.566259,0.560488,1.384149,2.537828,0.746897,-0.212123,-0.898175,1.055979,-0.332058,-0.743536,...,0.008016,-0.100886,0.004580,0.027538,-0.022406,0.036761,-0.022201,-0.000262,0.013927,2
5-129,-1.724290,1.749549,2.690684,-0.408630,0.086359,-0.712735,0.025589,1.764069,-1.797602,0.013359,...,0.042749,-0.002686,-0.016248,0.083492,0.001213,0.008180,0.007419,-0.011467,-0.000126,2
48-481,-0.607729,1.181050,-0.494776,3.585611,-0.045433,-0.219206,-1.677337,0.141064,-0.034358,-0.102473,...,-0.035978,-0.039264,0.047840,-0.072165,0.028307,-0.036187,-0.012980,0.008641,0.019483,2
26-39,-1.374806,0.848758,0.604481,-0.790270,0.797244,0.894896,0.963442,0.710223,-0.328074,0.339749,...,-0.048551,0.165967,-0.029711,0.020112,-0.018684,0.027932,-0.011239,-0.002515,-0.002862,2
45-35,0.925710,0.997256,-2.226410,-1.105993,-0.525132,0.820031,-0.501999,-0.607889,0.270041,1.427288,...,-0.015536,0.228784,-0.046414,-0.061755,-0.070643,0.154130,0.006802,0.027216,-0.017928,2

In [13]:
#Split Data
data_feats = pca_df.loc[:, pca_df.columns != labels_col]
data_labels = pca_df.iloc[:, pca_df.columns == labels_col]

#Using 80-20 split
train_feats,test_feats, train_labels, test_labels = sk.model_selection.train_test_split(data_feats, data_labels, test_size=0.2)
print(test_labels)
train_data = train_feats.join(train_labels)
test_data = test_feats.join(test_labels)

train_dataset_filename = "TRAINDATA.csv"
test_dataset_filename = "TESTDATA.csv" 

train_data.to_csv(train_dataset_filename)
test_data.to_csv(test_dataset_filename)

# train_data.head()
print(len(train_data))
print(len(test_data))

                            HPSA_Ind
State_And_County_FIPS_Code
47-57                              2
48-463                             2
48-355                             2
6-57                               2
24-23                              1
42-49                              2
48-85                              2
22-5                               1
46-41                              1
36-89                              2
16-87                              2
29-185                             2
53-75                              2
36-13                              2
21-121                             2
42-27                              2
21-19                              2
31-47                              2
6-67                               2
39-175                             2
46-105                             2
48-223                             2
1-91                               2
39-97                              2
51-59                              2
51-580                             2
44-5                               2
17-83                              2
51-143                             2
18-131                             2
...                              ...
5-51                               2
8-67                               2
47-25                              2
12-35                              2
30-33                              1
26-39                              2
29-71                              2
19-103                             2
12-19                              2
36-19                              2
39-155                             2
48-169                             2
29-219                             1
45-31                              2
37-95                              2
48-33                              1
31-185                             2
30-83                              2
38-77                              2
17-171                             2
6-93                               2
26-1                               1
42-55                              2
47-43                              2
21-25                              2
5-123                              1
37-87                              2
19-117                             2
20-89                              1
17-163                             2

[400 rows x 1 columns]
1600
400

In [14]:
train_dataset_name = "healthcare-train-data"

ds.delete_dataset(train_dataset_name)
status, dataset = ds.upload_dataset(train_dataset_filename, train_dataset_name)
if not status:
    print(dataset)

In [15]:
print(status)
print(dataset)
train_data.head()
print(train_dataset_name)

True
{'dataset_name': 'healthcare-train-data'}
healthcare-train-data

In [16]:
status, job_id = ds.clean_data(train_dataset_name, target=labels_col)
if status:
    ds.wait_for_job(job_id['job_name'])
print(job_id)

{'status': 'Taken', 'starttime': '2019-04-22T00:59:12.542496', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['healthcare-train-data'], 'artifact_names': ['4f4d63132a0e446686a9af38926b29cc'], 'model_name': None, 'job_error': None}
{'status': 'Complete', 'starttime': '2019-04-22T00:59:12.542496', 'endtime': '2019-04-22T00:59:15.89605', 'percent_complete': 100, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['healthcare-train-data'], 'artifact_names': ['4f4d63132a0e446686a9af38926b29cc'], 'model_name': None, 'job_error': ''}
{'job_name': '979cbc29317149bdb5340adf56b123c6', 'artifact_name': '4f4d63132a0e446686a9af38926b29cc'}

In [17]:
#Create model using cleaned, PCAd training set
model_name= labels_col + "_model0"
status = ds.delete_model(model_name)
print(status)

(True, None)

In [18]:
status, job_id = ds.create_model(dataset_names='healthcare-train-data', model_name =  model_name, max_train_time = '00:02')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

{'status': 'Requested', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 0, 'job_type': 'TrainModel', 'loss': None, 'generations': 0, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': None}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 4, 'job_type': 'TrainModel', 'loss': 0.5436245203018188, 'generations': 3, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 4, 'job_type': 'TrainModel', 'loss': 0.5436245203018188, 'generations': 3, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 20, 'job_type': 'TrainModel', 'loss': 0.46162304282188416, 'generations': 3, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 20, 'job_type': 'TrainModel', 'loss': 0.46162304282188416, 'generations': 3, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 33, 'job_type': 'TrainModel', 'loss': 0.46162304282188416, 'generations': 3, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 42, 'job_type': 'TrainModel', 'loss': 0.46162304282188416, 'generations': 3, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 71, 'job_type': 'TrainModel', 'loss': 0.46652621030807495, 'generations': 4, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': None, 'percent_complete': 75, 'job_type': 'TrainModel', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Complete', 'starttime': '2019-04-22T00:59:40.9556', 'endtime': '2019-04-22T01:01:47.220511', 'percent_complete': 100, 'job_type': 'TrainModel', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': ['healthcare-train-data'], 'artifact_names': None, 'model_name': 'HPSA_Ind_model0', 'job_error': ''}

In [19]:
test_dataset_name = "healthcare-test-data"

ds.delete_dataset(test_dataset_name)
status, dataset = ds.upload_dataset(test_dataset_filename, test_dataset_name)
if not status:
    print(dataset)

In [20]:
status, job_id = ds.clean_data(test_dataset_name, target=labels_col)
if status:
    ds.wait_for_job(job_id['job_name'])
print(job_id)

{'status': 'Requested', 'starttime': '2019-04-22T01:02:09.47151', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['healthcare-test-data'], 'artifact_names': ['c67ad956cb7f45838dede0d51cad8106'], 'model_name': None, 'job_error': None}
{'status': 'Complete', 'starttime': '2019-04-22T01:02:09.47151', 'endtime': '2019-04-22T01:02:12.474912', 'percent_complete': 100, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['healthcare-test-data'], 'artifact_names': ['c67ad956cb7f45838dede0d51cad8106'], 'model_name': None, 'job_error': ''}
{'job_name': '860bece31b6e4641a6c6e716bfbc51c0', 'artifact_name': 'c67ad956cb7f45838dede0d51cad8106'}

In [27]:
status, job_id = ds.run_model(test_dataset_name, model_name)
if status:
    ds.wait_for_job(job_id['job_name'])
print(job_id)

{'status': 'Taken', 'starttime': '2019-04-22T01:13:05.987764', 'endtime': None, 'percent_complete': 0, 'job_type': 'RunModel', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': ['healthcare-test-data'], 'artifact_names': ['a55847972a5f4cfbaa2a3838d2dd10be'], 'model_name': 'HPSA_Ind_model0', 'job_error': None}
{'status': 'Complete', 'starttime': '2019-04-22T01:13:05.987764', 'endtime': '2019-04-22T01:13:06.879195', 'percent_complete': 100, 'job_type': 'RunModel', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': ['healthcare-test-data'], 'artifact_names': ['a55847972a5f4cfbaa2a3838d2dd10be'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'job_name': 'cf15e92ba86041f694e894115b0c5547', 'artifact_name': 'a55847972a5f4cfbaa2a3838d2dd10be'}

In [28]:
status, predictions_table = ds.download_artifact(job_id['artifact_name'])
print(predictions_table)

     HPSA_Ind        prob_1    prob_2
0           2  4.072921e-01  0.592708
1           1  6.684111e-01  0.331589
2           2  5.009065e-04  0.999499
3           2  3.206433e-03  0.996794
4           2  2.744378e-01  0.725562
5           2  1.262854e-03  0.998737
6           2  1.567818e-04  0.999843
7           2  1.547358e-02  0.984526
8           1  8.159636e-01  0.184036
9           2  8.763214e-03  0.991237
10          2  2.892521e-01  0.710748
11          2  1.509344e-01  0.849066
12          2  1.593187e-02  0.984068
13          2  6.602989e-03  0.993397
14          2  3.982382e-01  0.601762
15          2  3.274484e-02  0.967255
16          2  1.211707e-01  0.878829
17          2  1.805473e-01  0.819453
18          2  3.954228e-01  0.604577
19          2  1.548204e-02  0.984518
20          2  4.310332e-01  0.568967
21          2  4.799101e-01  0.520090
22          1  6.631093e-01  0.336891
23          2  4.224411e-02  0.957756
24          2  2.090000e-08  1.000000
25          2  4.449655e-02  0.955504
26          2  6.815090e-05  0.999932
27          2  1.864648e-01  0.813535
28          2  1.296138e-01  0.870386
29          1  6.634368e-01  0.336563
..        ...           ...       ...
370         2  3.960227e-04  0.999604
371         2  1.830225e-01  0.816978
372         2  1.948823e-01  0.805118
373         2  1.410489e-02  0.985895
374         1  7.981011e-01  0.201899
375         1  5.306076e-01  0.469392
376         2  2.751115e-04  0.999725
377         2  8.864474e-02  0.911355
378         2  4.353817e-04  0.999565
379         2  8.319173e-03  0.991681
380         2  1.941790e-05  0.999981
381         1  6.457136e-01  0.354286
382         2  1.439732e-01  0.856027
383         2  1.655039e-01  0.834496
384         1  8.047363e-01  0.195264
385         1  5.008749e-01  0.499125
386         2  7.596342e-02  0.924037
387         2  1.238129e-01  0.876187
388         2  7.113280e-02  0.928867
389         2  3.111421e-01  0.688858
390         2  3.657741e-02  0.963423
391         2  7.058544e-02  0.929415
392         2  4.415622e-04  0.999558
393         2  3.387322e-02  0.966127
394         1  5.372099e-01  0.462790
395         2  5.109910e-02  0.948901
396         2  5.467469e-02  0.945325
397         2  3.624810e-02  0.963752
398         2  3.204111e-02  0.967959
399         2  5.709869e-03  0.994290

[400 rows x 3 columns]

In [23]:
predicted_labels = pd.DataFrame(predictions_table)
predicted_labels.to_csv('PREDICTIONS.csv')

In [ ]:
print(test_labels)

In [24]:
status, job_id = ds.analyze_predictions(model_name, test_dataset_name)
if status:
    ds.wait_for_job(job_id['job_name'])
print(job_id)

{'status': 'Requested', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': None}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}

{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-22T01:03:45.060841', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzePredictions', 'loss': 0.46652621030807495, 'generations': 5, 'dataset_names': None, 'artifact_names': ['f49075e9a26d42b3830e48fee733ccd4'], 'model_name': 'HPSA_Ind_model0', 'job_error': ''}

KeyboardInterrupt:

In [ ]:
status, artifact = ds.download_artifact(job_id['artifact_name'])
print(artifact)

In [ ]:

accuracy_score = sk.metrics.accuracy_score(,predicted_labels[labels_col])