In [35]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
import sklearn as sk
from sklearn.metrics import classification_report
from sklearn.decomposition import PCA
import time

from amb_sdk.sdk import DarwinSdk

In [2]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
ds.auth_login_user('vargasbri2@gmail.com', 'qNuNeX5JGY')

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTU4OTk4MTMsImlhdCI6MTU1NTg5MjYxMywibmJmIjoxNTU1ODkyNjEzLCJqdGkiOiI5MWYzNTMxYi1lYWU0LTQxNTEtODBmOS1mYzg5Y2NhOTk2ZjIiLCJpZGVudGl0eSI6Ijc2NmRiM2JjLTRmMzUtMTFlOS1iMzEwLTc3ZWRkN2EzNzNhOSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.25b8VqqI1764vWEPNibXIfpdiw05arBBQQmM6-hqbNU')

  # ALL Columns
  
  State_FIPS_Code
  County_FIPS_Code
 5 - CHSI_State_Name
 4 - CHSI_County_Name
 10 - Population_Size
 13 - Population_Density
 16 - Poverty
 19 - Age_19_Under
 22 - Age_19_64
 25 - Age_65_84
 28 - Age_85_and_Over
 31 - White
 34 - Black
 37- Native_American
 40 - Asian
 43 - Hispanic

 52 - ALE
 62 - Health_Status

 315 - LBW
 321 - VLBW
 327 - Premature
 333 - Under_18
 339 - Over_40
 351 - Late_Care
 357 - Infant_Mortality
 345 -  Unmarried
 393 - Brst_Cancer
 399 - Col_Cancer
 405 - CHD
 417 - Lung_Cancer
 435 - Suicide

 484 - No_HS_Diploma
 485 - Unemployed
 486 -  Sev_Work_Disabled
 487 - Major_Depression
 488 - Recent_Drug_Use
 489 Ecol_Rpt
 491 Ecol_Exp
 492 Salm_Rpt
 494 Salm_Exp
 495 Shig_Rpt
 497 Shig_Exp

 512 FluB_Rpt
 514 FluB_Exp
 515 HepA_Rpt
 517 HepA_Exp
 518 HepB_Rpt
 520 HepB_Exp
 521 Meas_Rpt
 523 Meas_Exp
 524 Pert_Rpt
 526 Pert_Exp
 527 CRS_Rpt
 529 CRS_Exp
 530 Syphilis_Rpt
 532 Syphilis_Exp

 
 555 - No_Exercise
 558 - Few_Fruit_Veg
 561 - Obesity
 564 - High_Blood_Pres
 567 - Smoker
 570 - Diabetes
 573 - Uninsured

In [3]:
#Removing Meas_Rpt, Meas_Exp, CRS_Rpt, CRS_Exp because not a lot of varying data
#Removing for too many missing values: High_Blood_Pres (0.515441), Few_Fruit_Veg (0.393824)
df_list = []
labels_col = 'HPSA_Ind'

def create_new_df(dataset_name, column_names):
    df = pd.read_csv(dataset_name)
    return df[column_names]

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'CHSI_State_Name','CHSI_County_Name','Population_Size','Population_Density','Poverty','Age_19_Under','Age_19_64','Age_65_84','Age_85_and_Over','White','Black','Native_American','Asian','Hispanic']
demographics_df = create_new_df("DEMOGRAPHICS.csv", col_names)
df_list.append(demographics_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'ALE', 'Health_Status']
summ_meas_health_df = create_new_df("SUMMARYMEASURESOFHEALTH.csv", col_names)
df_list.append(summ_meas_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'LBW','VLBW','Premature','Under_18','Over_40','Late_Care','Infant_Mortality','Unmarried','Brst_Cancer','Col_Cancer','CHD','Lung_Cancer','Suicide']
meas_birth_and_death_df = create_new_df("MEASURESOFBIRTHANDDEATH.csv", col_names)
df_list.append(meas_birth_and_death_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_HS_Diploma','Unemployed','Sev_Work_Disabled','Major_Depression','Recent_Drug_Use','Ecol_Rpt','Ecol_Exp','Salm_Rpt','Salm_Exp','Shig_Rpt','Shig_Exp']
vuln_pop_and_env_health_df = create_new_df("VUNERABLEPOPSANDENVHEALTH.csv", col_names)
df_list.append(vuln_pop_and_env_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'FluB_Rpt','FluB_Exp','HepA_Rpt','HepA_Exp','HepB_Rpt','HepB_Exp','Pert_Rpt','Pert_Exp','Syphilis_Rpt','Syphilis_Exp']
prev_services_df = create_new_df("PREVENTIVESERVICESUSE.csv", col_names)
df_list.append(prev_services_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_Exercise','Obesity','Smoker','Diabetes','Uninsured', labels_col]
risk_factors_df = create_new_df("RISKFACTORSANDACCESSTOCARE.csv", col_names)
df_list.append(risk_factors_df)

In [4]:
def merge_state_and_county_codes(df):
    df["State_And_County_FIPS_Code"] = df["State_FIPS_Code"].map(str) + "-" + df["County_FIPS_Code"].map(str)
    df = df.drop(columns = ['State_FIPS_Code', 'County_FIPS_Code'])
    return df

In [5]:
#Merges State and County Codes for each df
for df_idx in range(len(df_list)):
    df_list[df_idx] = merge_state_and_county_codes(df_list[df_idx])

In [6]:
df_list = [df.set_index("State_And_County_FIPS_Code") for df in df_list]
merged_df = df_list[0].join(df_list[1:])

In [7]:
merged_df.head()

,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
1-1,Alabama,Autauga,48612,82,10.4,26.9,62.3,9.8,0.9,80.7,...,3,11,8,2,27.8,24.5,26.6,14.2,5690,2
1-3,Alabama,Baldwin,162586,102,10.2,23.5,60.3,14.5,1.8,88.4,...,0,27,0,4,27.2,23.6,24.6,7.2,19798,2
1-5,Alabama,Barbour,28414,32,22.1,24.3,62.5,11.6,1.6,52.2,...,0,6,6,3,-1111.1,25.6,17.7,6.6,5126,2
1-7,Alabama,Bibb,21516,35,16.8,24.6,63.3,10.9,1.2,76.8,...,3,6,2,6,-1111.1,-1111.1,-1111.1,13.1,3315,1
1-9,Alabama,Blount,55725,86,11.9,24.5,62.1,12.1,1.3,97.1,...,3,8,0,3,33.5,24.2,23.6,8.4,8131,1

In [8]:
cleaned_merged_df = merged_df.replace([-9999, -9998.9, -2222.2, -2222, -1111.1, -1111, -2, -1], '-')
cleaned_merged_df.head()

,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
1-1,Alabama,Autauga,48612,82,10.4,26.9,62.3,9.8,0.9,80.7,...,3,11,8,2,27.8,24.5,26.6,14.2,5690,2
1-3,Alabama,Baldwin,162586,102,10.2,23.5,60.3,14.5,1.8,88.4,...,0,27,0,4,27.2,23.6,24.6,7.2,19798,2
1-5,Alabama,Barbour,28414,32,22.1,24.3,62.5,11.6,1.6,52.2,...,0,6,6,3,-,25.6,17.7,6.6,5126,2
1-7,Alabama,Bibb,21516,35,16.8,24.6,63.3,10.9,1.2,76.8,...,3,6,2,6,-,-,-,13.1,3315,1
1-9,Alabama,Blount,55725,86,11.9,24.5,62.1,12.1,1.3,97.1,...,3,8,0,3,33.5,24.2,23.6,8.4,8131,1

In [9]:
# numerical_data = cleaned_merged_df.drop(['CHSI_County_Name', 'CHSI_State_Name'], axis=1)
# numerical_data.replace('', -75)

# pca = PCA()
# pca.fit(numerical_data)
# transformed = pca.transform(numerical_data)
# print(transformed)

# numerical_data.head()

In [17]:
# data_filename = "COMBINEDDATA.csv"
# dataset_name = "Healthcare_data_Bri"
# cleaned_merged_df.dropna(inplace=True)
# cleaned_merged_df.to_csv(data_filename)
# ds.delete_dataset(dataset_name)
# status, dataset = ds.upload_dataset(data_filename, dataset_name)
# if not status:
#     print(dataset)

In [18]:
# status, job_id = ds.clean_data(dataset_name, target=labels_col)
# if status:
#     ds.wait_for_job(job_id['job_name'])
# else:
#     print(job_id)
# status, info = ds.download_dataset(job_id['artifact_name'], artifact_path='./artifacts')
# print("*******", info)
# cleaned_filename = info['filename']
# print(cleaned_filename)

{'status': 'Requested', 'starttime': '2019-04-21T19:30:29.637123', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['Healthcare_data_Bri'], 'artifact_names': ['3c70c16386eb4324831764d50d1b989a'], 'model_name': None, 'job_error': None}
{'status': 'Complete', 'starttime': '2019-04-21T19:30:29.637123', 'endtime': '2019-04-21T19:30:33.838938', 'percent_complete': 100, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['Healthcare_data_Bri'], 'artifact_names': ['3c70c16386eb4324831764d50d1b989a'], 'model_name': None, 'job_error': ''}
******* {'filename': 'C:\\Users\\Bri Vargas\\Documents\\DataMining\\FinalProject\\DataMiningFinalProject\\artifacts\\3c70c16386eb4324831764d50d1b989a-cleaned-s4imtwwh.csv'}
C:\Users\Bri Vargas\Documents\DataMining\FinalProject\DataMiningFinalProject\artifacts\3c70c16386eb4324831764d50d1b989a-cleaned-s4imtwwh.csv

In [55]:
# cleaned_df = pd.read_csv(cleaned_filename)
# cleaned_df.head()

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind$$1,HPSA_Ind$$2
0,-0.149343,-0.098641,-0.604324,0.638010,0.599192,-0.896783,-1.280770,-0.391251,0.571623,-0.192103,...,0.024434,-0.004659,-0.168955,2.302267e-01,8.600024e-02,7.160236e-01,2.484671,-0.127651,0.0,1.0
1,0.222656,-0.086891,-0.645293,-0.398179,0.003159,0.513145,-0.332371,0.085591,0.062799,-0.192103,...,0.616028,-0.167663,-0.113292,1.232783e-01,-1.321446e-01,3.053559e-01,-0.237271,0.130765,0.0,1.0
2,-0.215267,-0.128015,1.792356,-0.154370,0.658795,-0.356811,-0.543126,-2.156186,2.600042,-0.205134,...,-0.160439,-0.045410,-0.141124,1.266524e-15,3.526217e-01,-1.111447e+00,-0.470580,-0.137982,0.0,1.0
3,-0.237781,-0.126252,0.706681,-0.062941,0.897208,-0.566800,-0.964637,-0.632769,0.929175,-0.218165,...,-0.160439,-0.126912,-0.057630,1.266524e-15,-6.888943e-15,3.647461e-15,2.056937,-0.171154,1.0,0.0
4,-0.126127,-0.096291,-0.297057,-0.093417,0.539589,-0.206818,-0.859259,0.624360,-0.514785,-0.192103,...,-0.086490,-0.167663,-0.141124,1.246237e+00,1.328530e-02,1.000221e-01,0.229348,-0.082940,1.0,0.0

In [56]:
pca = PCA()
pca_df = cleaned_df.drop(['HPSA_Ind$$1','HPSA_Ind$$2'], axis=1)
pca.fit(pca_df)
df_withPCA = pd.DataFrame(pca.transform(pca_df), columns=pca_df.columns)
df_withPCA[labels_col] = cleaned_df['HPSA_Ind$$1']
df_withPCA.head()

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
0,-0.777983,1.533252,-0.731353,-1.111979,1.220068,-0.143426,0.253152,-0.120999,-0.058772,-0.085646,...,-0.001365,-0.120796,0.015021,0.030736,0.012450,0.089009,-0.007636,0.004050,-0.020070,0.0
1,0.461723,-0.050565,-0.486551,-0.944715,-0.443539,-0.766824,-0.157824,-0.185775,-1.026862,1.308964,...,-0.029886,-0.083714,0.079373,0.062543,0.048042,0.077336,0.023729,0.010866,0.016638,0.0
2,-0.839296,4.118787,-2.383679,0.003841,-1.891227,-0.633332,1.342109,0.590117,-0.080454,-0.050244,...,0.056823,-0.039231,0.059657,0.085100,0.027103,-0.015145,-0.020696,0.005223,-0.002464,0.0
3,-1.025683,2.572973,-0.723558,-0.903792,0.305374,-0.380498,0.790455,0.194193,-0.622229,0.286876,...,0.025428,0.112986,0.090646,0.044269,0.053635,0.069902,-0.008532,-0.004392,-0.001452,1.0
4,-0.782280,0.423508,0.334208,-0.941154,1.249015,-0.534041,-0.243006,-0.068778,-0.449099,0.213430,...,-0.023532,-0.070139,-0.001391,-0.045504,0.020999,-0.099372,0.009046,0.005096,-0.000014,1.0

In [62]:
#Split Data
data_feats = df_withPCA.loc[:, df_withPCA.columns != labels_col]
data_labels = df_withPCA.iloc[:, df_withPCA.columns == labels_col]

train_feats,test_feats, train_labels, test_labels = sk.model_selection.train_test_split(data_feats, data_labels, test_size=0.2)
train_data = train_feats.join(train_labels)
test_data = test_feats.join(test_labels)

train_dataset_filename = "TRAINDATA.csv"
test_dataset_filename = "TESTDATA.csv" 

train_data.to_csv(train_dataset_filename, sep='\t')
test_data.to_csv(test_dataset_filename, sep='\t')

In [63]:
train_data.head(10)

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
2835,-1.262365,-1.342190,1.447712,-0.567187,0.411770,-0.906778,-0.363574,0.123893,-1.602728,0.003963,...,0.004227,-0.038559,-0.009883,0.034558,0.025870,-0.035120,-0.026008,-0.012179,-0.000427,0.0
2457,-0.619483,2.060328,1.675695,-0.896888,2.416683,-0.400309,-1.476829,0.017959,-0.274330,-1.065227,...,0.008193,-0.134058,0.031955,-0.048701,0.016482,-0.044986,0.025513,-0.020977,0.000071,0.0
418,-0.913148,5.036402,-0.411256,-0.387744,0.949185,-0.972201,-0.509415,-1.132673,0.573836,-0.504072,...,-0.071301,-0.071744,-0.022811,0.014809,-0.006852,0.054055,-0.005215,-0.017246,0.001179,0.0
2485,-0.167905,1.585159,-0.410929,-0.948283,1.465679,0.217880,-0.391805,-0.097933,-0.035010,-0.008946,...,0.044644,-0.077081,0.015782,-0.050756,-0.018026,-0.072828,0.018758,-0.017056,-0.000098,0.0
2923,-0.036478,-3.168381,-1.463741,-1.308365,-0.385526,1.387655,-0.405702,2.001204,-0.348335,-4.225738,...,0.181976,0.035385,0.023479,-0.026969,0.012142,0.043788,0.028771,-0.104046,0.001435,0.0
2342,-0.337240,3.355727,-1.276849,-1.262317,-0.430498,-0.645143,0.396029,-0.140377,-0.193950,1.005108,...,-0.027422,0.107081,-0.037159,-0.084474,0.068154,0.145106,-0.014864,0.000380,0.000084,0.0
2163,-1.425454,2.886889,1.954536,0.704084,1.466895,1.740347,-0.423668,0.105407,-0.090860,-0.806021,...,0.090930,-0.094936,-0.019729,-0.023464,-0.025013,0.028259,0.059213,0.129346,-0.001364,1.0
2234,-0.702365,-2.289349,0.751124,0.409845,-0.556052,-0.011191,0.141483,0.528482,-1.057186,0.771282,...,0.026841,0.128660,0.053474,0.015245,0.009523,0.055939,0.016795,0.004600,-0.000092,0.0
958,-1.557319,-1.003630,1.659902,0.193813,-1.069941,0.041006,0.051078,-0.618489,-0.454714,-0.509036,...,-0.021475,-0.050110,-0.018494,0.033770,-0.013373,-0.018274,-0.013625,-0.009690,-0.000825,1.0
2796,0.114742,-5.804216,-4.879675,1.210105,-0.054146,-1.403722,1.639869,2.517049,0.624120,0.615513,...,-0.010129,0.095961,-0.017846,0.024578,0.012622,-0.064379,0.002056,-0.009213,-0.000491,0.0

In [67]:
train_dataset_name = "healthcare-train-data"
ds.delete_dataset(train_dataset_name)
status, dataset = ds.upload_dataset(train_dataset_filename, train_dataset_name)
if not status:
    print(dataset)

403: FORBIDDEN - {"message": "Your token is out of date"}

In [66]:
status, job_id = ds.clean_data(train_dataset_name, target=labels_col)
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

{'status': 'Requested', 'starttime': '2019-04-21T20:21:03.789554', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['healthcare-train-data'], 'artifact_names': ['01ede137dc5a43e4b87d6ac93d05ffa8'], 'model_name': None, 'job_error': None}
{'status': 'Failed', 'starttime': '2019-04-21T20:21:03.789554', 'endtime': '2019-04-21T20:21:05.027278', 'percent_complete': 100, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['healthcare-train-data'], 'artifact_names': ['01ede137dc5a43e4b87d6ac93d05ffa8'], 'model_name': None, 'job_error': "BadTargetColumn: target: 'HPSA_Ind' not in data"}

In [39]:
#Create model using cleaned, PCAd training set
model_name='Healthcare-Model'
status = ds.delete_model(model_name)
print(status)

(True, None)

In [40]:
status, job_id = ds.create_model(dataset_names = train_dataset_name, model_name =  model_name, max_train_time = '00:02')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

400: BAD REQUEST - {"message": "Dataset has not been cleaned. Please clean dataset before training model."}

In [ ]:
# status, job_id = ds.analyze_data(dataset_name)
# time.sleep(25)
# print(status)
# print(job_id)

In [ ]:
analysis_artifact = ds.download_artifact(job_id['artifact_name'], artifact_path='./artifacts')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

In [ ]:
model_name='Healthcare-Model'
status = ds.delete_model(model_name)
print(status)

In [ ]:
status, job_id = ds.create_model(dataset_names = dataset_name, model_name =  model_name, max_train_time = '00:02')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

In [ ]:
status, job_id = ds.analyze_model(model_name)