In [1]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report
from sklearn.decomposition import PCA
import time

from amb_sdk.sdk import DarwinSdk

In [2]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
ds.auth_login_user('vargasbri2@gmail.com', 'qNuNeX5JGY')

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTU4OTk4MTMsImlhdCI6MTU1NTg5MjYxMywibmJmIjoxNTU1ODkyNjEzLCJqdGkiOiI5MWYzNTMxYi1lYWU0LTQxNTEtODBmOS1mYzg5Y2NhOTk2ZjIiLCJpZGVudGl0eSI6Ijc2NmRiM2JjLTRmMzUtMTFlOS1iMzEwLTc3ZWRkN2EzNzNhOSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.25b8VqqI1764vWEPNibXIfpdiw05arBBQQmM6-hqbNU')

  # ALL Columns
  
  State_FIPS_Code
  County_FIPS_Code
 5 - CHSI_State_Name
 4 - CHSI_County_Name
 10 - Population_Size
 13 - Population_Density
 16 - Poverty
 19 - Age_19_Under
 22 - Age_19_64
 25 - Age_65_84
 28 - Age_85_and_Over
 31 - White
 34 - Black
 37- Native_American
 40 - Asian
 43 - Hispanic

 52 - ALE
 62 - Health_Status

 315 - LBW
 321 - VLBW
 327 - Premature
 333 - Under_18
 339 - Over_40
 351 - Late_Care
 357 - Infant_Mortality
 345 -  Unmarried
 393 - Brst_Cancer
 399 - Col_Cancer
 405 - CHD
 417 - Lung_Cancer
 435 - Suicide

 484 - No_HS_Diploma
 485 - Unemployed
 486 -  Sev_Work_Disabled
 487 - Major_Depression
 488 - Recent_Drug_Use
 489 Ecol_Rpt
 491 Ecol_Exp
 492 Salm_Rpt
 494 Salm_Exp
 495 Shig_Rpt
 497 Shig_Exp

 512 FluB_Rpt
 514 FluB_Exp
 515 HepA_Rpt
 517 HepA_Exp
 518 HepB_Rpt
 520 HepB_Exp
 521 Meas_Rpt
 523 Meas_Exp
 524 Pert_Rpt
 526 Pert_Exp
 527 CRS_Rpt
 529 CRS_Exp
 530 Syphilis_Rpt
 532 Syphilis_Exp

 
 555 - No_Exercise
 558 - Few_Fruit_Veg
 561 - Obesity
 564 - High_Blood_Pres
 567 - Smoker
 570 - Diabetes
 573 - Uninsured

In [3]:
#Removing Meas_Rpt, Meas_Exp, CRS_Rpt, CRS_Exp because not a lot of varying data
#Removing for too many missing values: High_Blood_Pres (0.515441), Few_Fruit_Veg (0.393824)
df_list = []
labels_col = 'HPSA_Ind'

def create_new_df(dataset_name, column_names):
    df = pd.read_csv(dataset_name)
    return df[column_names]

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'CHSI_State_Name','CHSI_County_Name','Population_Size','Population_Density','Poverty','Age_19_Under','Age_19_64','Age_65_84','Age_85_and_Over','White','Black','Native_American','Asian','Hispanic']
demographics_df = create_new_df("DEMOGRAPHICS.csv", col_names)
df_list.append(demographics_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'ALE', 'Health_Status']
summ_meas_health_df = create_new_df("SUMMARYMEASURESOFHEALTH.csv", col_names)
df_list.append(summ_meas_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'LBW','VLBW','Premature','Under_18','Over_40','Late_Care','Infant_Mortality','Unmarried','Brst_Cancer','Col_Cancer','CHD','Lung_Cancer','Suicide']
meas_birth_and_death_df = create_new_df("MEASURESOFBIRTHANDDEATH.csv", col_names)
df_list.append(meas_birth_and_death_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_HS_Diploma','Unemployed','Sev_Work_Disabled','Major_Depression','Recent_Drug_Use','Ecol_Rpt','Ecol_Exp','Salm_Rpt','Salm_Exp','Shig_Rpt','Shig_Exp']
vuln_pop_and_env_health_df = create_new_df("VUNERABLEPOPSANDENVHEALTH.csv", col_names)
df_list.append(vuln_pop_and_env_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'FluB_Rpt','FluB_Exp','HepA_Rpt','HepA_Exp','HepB_Rpt','HepB_Exp','Pert_Rpt','Pert_Exp','Syphilis_Rpt','Syphilis_Exp']
prev_services_df = create_new_df("PREVENTIVESERVICESUSE.csv", col_names)
df_list.append(prev_services_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_Exercise','Obesity','Smoker','Diabetes','Uninsured', labels_col]
risk_factors_df = create_new_df("RISKFACTORSANDACCESSTOCARE.csv", col_names)
df_list.append(risk_factors_df)

In [4]:
def merge_state_and_county_codes(df):
    df["State_And_County_FIPS_Code"] = df["State_FIPS_Code"].map(str) + "-" + df["County_FIPS_Code"].map(str)
    df = df.drop(columns = ['State_FIPS_Code', 'County_FIPS_Code'])
    return df

In [5]:
#Merges State and County Codes for each df
for df_idx in range(len(df_list)):
    df_list[df_idx] = merge_state_and_county_codes(df_list[df_idx])

In [6]:
df_list = [df.set_index("State_And_County_FIPS_Code") for df in df_list]
merged_df = df_list[0].join(df_list[1:])

In [7]:
merged_df.head()

,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
1-1,Alabama,Autauga,48612,82,10.4,26.9,62.3,9.8,0.9,80.7,...,3,11,8,2,27.8,24.5,26.6,14.2,5690,2
1-3,Alabama,Baldwin,162586,102,10.2,23.5,60.3,14.5,1.8,88.4,...,0,27,0,4,27.2,23.6,24.6,7.2,19798,2
1-5,Alabama,Barbour,28414,32,22.1,24.3,62.5,11.6,1.6,52.2,...,0,6,6,3,-1111.1,25.6,17.7,6.6,5126,2
1-7,Alabama,Bibb,21516,35,16.8,24.6,63.3,10.9,1.2,76.8,...,3,6,2,6,-1111.1,-1111.1,-1111.1,13.1,3315,1
1-9,Alabama,Blount,55725,86,11.9,24.5,62.1,12.1,1.3,97.1,...,3,8,0,3,33.5,24.2,23.6,8.4,8131,1

In [8]:
cleaned_merged_df = merged_df.replace([-9999, -9998.9, -2222.2, -2222, -1111.1, -1111, -2, -1], '-')
cleaned_merged_df.head()

,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
1-1,Alabama,Autauga,48612,82,10.4,26.9,62.3,9.8,0.9,80.7,...,3,11,8,2,27.8,24.5,26.6,14.2,5690,2
1-3,Alabama,Baldwin,162586,102,10.2,23.5,60.3,14.5,1.8,88.4,...,0,27,0,4,27.2,23.6,24.6,7.2,19798,2
1-5,Alabama,Barbour,28414,32,22.1,24.3,62.5,11.6,1.6,52.2,...,0,6,6,3,-,25.6,17.7,6.6,5126,2
1-7,Alabama,Bibb,21516,35,16.8,24.6,63.3,10.9,1.2,76.8,...,3,6,2,6,-,-,-,13.1,3315,1
1-9,Alabama,Blount,55725,86,11.9,24.5,62.1,12.1,1.3,97.1,...,3,8,0,3,33.5,24.2,23.6,8.4,8131,1

In [9]:
# numerical_data = cleaned_merged_df.drop(['CHSI_County_Name', 'CHSI_State_Name'], axis=1)
# numerical_data.replace('', -75)

# pca = PCA()
# pca.fit(numerical_data)
# transformed = pca.transform(numerical_data)
# print(transformed)

# numerical_data.head()

In [17]:
data_filename = "COMBINEDDATA.csv"
dataset_name = "Healthcare_data_Bri"
cleaned_merged_df.dropna(inplace=True)
cleaned_merged_df.to_csv(data_filename)
ds.delete_dataset(dataset_name)
status, dataset = ds.upload_dataset(data_filename, dataset_name)
if not status:
    print(dataset)

In [18]:
status, job_id = ds.clean_data(dataset_name, target=labels_col)
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)
status, info = ds.download_dataset(job_id['artifact_name'], artifact_path='./artifacts')
print("*******", info)
cleaned_filename = info['filename']
print(cleaned_filename)

{'status': 'Requested', 'starttime': '2019-04-21T19:30:29.637123', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['Healthcare_data_Bri'], 'artifact_names': ['3c70c16386eb4324831764d50d1b989a'], 'model_name': None, 'job_error': None}
{'status': 'Complete', 'starttime': '2019-04-21T19:30:29.637123', 'endtime': '2019-04-21T19:30:33.838938', 'percent_complete': 100, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['Healthcare_data_Bri'], 'artifact_names': ['3c70c16386eb4324831764d50d1b989a'], 'model_name': None, 'job_error': ''}
******* {'filename': 'C:\\Users\\Bri Vargas\\Documents\\DataMining\\FinalProject\\DataMiningFinalProject\\artifacts\\3c70c16386eb4324831764d50d1b989a-cleaned-s4imtwwh.csv'}
C:\Users\Bri Vargas\Documents\DataMining\FinalProject\DataMiningFinalProject\artifacts\3c70c16386eb4324831764d50d1b989a-cleaned-s4imtwwh.csv

In [28]:
cleaned_df = pd.read_csv(cleaned_filename)
cleaned_df.head()

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind$$1,HPSA_Ind$$2
0,-0.149343,-0.098641,-0.604324,0.638010,0.599192,-0.896783,-1.280770,-0.391251,0.571623,-0.192103,...,0.024434,-0.004659,-0.168955,2.302267e-01,8.600024e-02,7.160236e-01,2.484671,-0.127651,0.0,1.0
1,0.222656,-0.086891,-0.645293,-0.398179,0.003159,0.513145,-0.332371,0.085591,0.062799,-0.192103,...,0.616028,-0.167663,-0.113292,1.232783e-01,-1.321446e-01,3.053559e-01,-0.237271,0.130765,0.0,1.0
2,-0.215267,-0.128015,1.792356,-0.154370,0.658795,-0.356811,-0.543126,-2.156186,2.600042,-0.205134,...,-0.160439,-0.045410,-0.141124,1.266524e-15,3.526217e-01,-1.111447e+00,-0.470580,-0.137982,0.0,1.0
3,-0.237781,-0.126252,0.706681,-0.062941,0.897208,-0.566800,-0.964637,-0.632769,0.929175,-0.218165,...,-0.160439,-0.126912,-0.057630,1.266524e-15,-6.888943e-15,3.647461e-15,2.056937,-0.171154,1.0,0.0
4,-0.126127,-0.096291,-0.297057,-0.093417,0.539589,-0.206818,-0.859259,0.624360,-0.514785,-0.192103,...,-0.086490,-0.167663,-0.141124,1.246237e+00,1.328530e-02,1.000221e-01,0.229348,-0.082940,1.0,0.0

In [30]:
pca = PCA()
pca.fit(cleaned_df)
temp = pd.DataFrame(pca.transform(cleaned_df), columns=cleaned_df.columns)
print(len(cleaned_df))
print(len(temp))

temp.head()
# cleaned_df.head()

3141
3141

,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,...,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind$$1,HPSA_Ind$$2
0,-0.770772,1.513738,-0.753614,-1.139289,1.217783,-0.142758,0.240261,-0.142438,-0.054731,-0.086697,...,-0.002427,-0.119752,0.017593,0.036661,0.011786,0.089992,-0.009532,0.002904,-0.019967,8.045577e-16
1,0.469988,-0.065553,-0.502159,-0.957152,-0.445542,-0.764451,-0.173055,-0.187769,-1.023656,1.307641,...,-0.031242,-0.082666,0.082555,0.070506,0.047083,0.078628,0.021442,0.009701,0.016753,1.939351e-16
2,-0.834874,4.097938,-2.398782,0.003043,-1.886987,-0.633940,1.324516,0.511442,-0.055604,-0.051365,...,0.055560,-0.038070,0.063220,0.094235,0.025895,-0.013632,-0.023313,0.003566,-0.002316,-3.539729e-19
3,-1.053211,2.614228,-0.699225,-0.831365,0.279518,-0.395097,0.858519,0.268005,-0.638391,0.287795,...,0.027906,0.110419,0.084577,0.034227,0.054474,0.068469,-0.005961,-0.002886,-0.001604,5.515718e-17
4,-0.807840,0.467525,0.360765,-0.877751,1.223348,-0.546130,-0.171864,0.047145,-0.478429,0.215426,...,-0.021578,-0.072319,-0.007797,-0.057891,0.022350,-0.101383,0.012734,0.007350,-0.000224,-2.779097e-16

In [ ]:
status, job_id = ds.analyze_data(dataset_name)
time.sleep(25)
print(status)
print(job_id)

In [ ]:
analysis_artifact = ds.download_artifact(job_id['artifact_name'], artifact_path='./artifacts')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

In [ ]:
model_name='Healthcare-Model'
status = ds.delete_model(model_name)
print(status)

In [ ]:
status, job_id = ds.create_model(dataset_names = dataset_name, model_name =  model_name, max_train_time = '00:02')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

In [ ]:
status, job_id = ds.analyze_model(model_name)