In [1]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report

from amb_sdk.sdk import DarwinSdk

In [2]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
ds.auth_login_user('jackrentz@utexas.edu', 'LY2WVM3gA')

(False, '401: UNAUTHORIZED - {"message": "Incorrect username or password"}\n')

  # ALL Columns
  
  State_FIPS_Code
  County_FIPS_Code
 5 - CHSI_State_Name
 4 - CHSI_County_Name
 10 - Population_Size
 13 - Population_Density
 16 - Poverty
 19 - Age_19_Under
 22 - Age_19_64
 25 - Age_65_84
 28 - Age_85_and_Over
 31 - White
 34 - Black
 37- Native_American
 40 - Asian
 43 - Hispanic

 52 - ALE
 62 - Health_Status

 315 - LBW
 321 - VLBW
 327 - Premature
 333 - Under_18
 339 - Over_40
 351 - Late_Care
 357 - Infant_Mortality
 345 -  Unmarried
 393 - Brst_Cancer
 399 - Col_Cancer
 405 - CHD
 417 - Lung_Cancer
 435 - Suicide

 484 - No_HS_Diploma
 485 - Unemployed
 486 -  Sev_Work_Disabled
 487 - Major_Depression
 488 - Recent_Drug_Use
 489 Ecol_Rpt
 491 Ecol_Exp
 492 Salm_Rpt
 494 Salm_Exp
 495 Shig_Rpt
 497 Shig_Exp

 512 FluB_Rpt
 514 FluB_Exp
 515 HepA_Rpt
 517 HepA_Exp
 518 HepB_Rpt
 520 HepB_Exp
 521 Meas_Rpt
 523 Meas_Exp
 524 Pert_Rpt
 526 Pert_Exp
 527 CRS_Rpt
 529 CRS_Exp
 530 Syphilis_Rpt
 532 Syphilis_Exp

 
 555 - No_Exercise
 558 - Few_Fruit_Veg
 561 - Obesity
 564 - High_Blood_Pres
 567 - Smoker
 570 - Diabetes
 573 - Uninsured

In [3]:
df_list = []

def create_new_df(dataset_name, column_names):
    df = pd.read_csv(dataset_name)
    return df[column_names]

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'CHSI_State_Name','CHSI_County_Name','Population_Size','Population_Density','Poverty','Age_19_Under','Age_19_64','Age_65_84','Age_85_and_Over','White','Black','Native_American','Asian','Hispanic']
demographics_df = create_new_df("DEMOGRAPHICS.csv", col_names)
df_list.append(demographics_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'ALE', 'Health_Status']
summ_meas_health_df = create_new_df("SUMMARYMEASURESOFHEALTH.csv", col_names)
df_list.append(summ_meas_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'LBW','VLBW','Premature','Under_18','Over_40','Late_Care','Infant_Mortality','Unmarried','Brst_Cancer','Col_Cancer','CHD','Lung_Cancer','Suicide']
meas_birth_and_death_df = create_new_df("MEASURESOFBIRTHANDDEATH.csv", col_names)
df_list.append(meas_birth_and_death_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_HS_Diploma','Unemployed','Sev_Work_Disabled','Major_Depression','Recent_Drug_Use','Ecol_Rpt','Ecol_Exp','Salm_Rpt','Salm_Exp','Shig_Rpt','Shig_Exp']
vuln_pop_and_env_health_df = create_new_df("VUNERABLEPOPSANDENVHEALTH.csv", col_names)
df_list.append(vuln_pop_and_env_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'FluB_Rpt','FluB_Exp','HepA_Rpt','HepA_Exp','HepB_Rpt','HepB_Exp','Meas_Rpt','Meas_Exp','Pert_Rpt','Pert_Exp','CRS_Rpt','CRS_Exp','Syphilis_Rpt','Syphilis_Exp']
prev_services_df = create_new_df("PREVENTIVESERVICESUSE.csv", col_names)
df_list.append(prev_services_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_Exercise','Few_Fruit_Veg','Obesity','High_Blood_Pres','Smoker','Diabetes','Uninsured']
risk_factors_df = create_new_df("RISKFACTORSANDACCESSTOCARE.csv", col_names)
df_list.append(risk_factors_df)

In [4]:
def merge_state_and_county_codes(df):
    df["State_And_County_FIPS_Code"] = df["State_FIPS_Code"].map(str) + "-" + df["County_FIPS_Code"].map(str)
    df = df.drop(columns = ['State_FIPS_Code', 'County_FIPS_Code'])
    return df

In [5]:
#Merges State and County Codes for each df
for df_idx in range(len(df_list)):
    df_list[df_idx] = merge_state_and_county_codes(df_list[df_idx])

In [6]:
df_list = [df.set_index("State_And_County_FIPS_Code") for df in df_list]
merged_df = df_list[0].join(df_list[1:])

In [7]:
merged_df.head()

,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,...,CRS_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Few_Fruit_Veg,Obesity,High_Blood_Pres,Smoker,Diabetes,Uninsured
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
1-1,Alabama,Autauga,48612,82,10.4,26.9,62.3,9.8,0.9,80.7,...,0,8,2,27.8,78.6,24.5,29.1,26.6,14.2,5690
1-3,Alabama,Baldwin,162586,102,10.2,23.5,60.3,14.5,1.8,88.4,...,0,0,4,27.2,76.2,23.6,30.5,24.6,7.2,19798
1-5,Alabama,Barbour,28414,32,22.1,24.3,62.5,11.6,1.6,52.2,...,0,6,3,-1111.1,-1111.1,25.6,-1111.1,17.7,6.6,5126
1-7,Alabama,Bibb,21516,35,16.8,24.6,63.3,10.9,1.2,76.8,...,0,2,6,-1111.1,86.6,-1111.1,-1111.1,-1111.1,13.1,3315
1-9,Alabama,Blount,55725,86,11.9,24.5,62.1,12.1,1.3,97.1,...,0,0,3,33.5,74.6,24.2,-1111.1,23.6,8.4,8131

In [8]:
cleaned_merged_df = merged_df.replace([-9999, -9998.9, -2222.2, -2222, -1111.1, -1111, -2, -1], np.nan)
cleaned_merged_df.head()

,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,...,CRS_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Few_Fruit_Veg,Obesity,High_Blood_Pres,Smoker,Diabetes,Uninsured
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
1-1,Alabama,Autauga,48612,82.0,10.4,26.9,62.3,9.8,0.9,80.7,...,0.0,8.0,2.0,27.8,78.6,24.5,29.1,26.6,14.2,5690.0
1-3,Alabama,Baldwin,162586,102.0,10.2,23.5,60.3,14.5,1.8,88.4,...,0.0,0.0,4.0,27.2,76.2,23.6,30.5,24.6,7.2,19798.0
1-5,Alabama,Barbour,28414,32.0,22.1,24.3,62.5,11.6,1.6,52.2,...,0.0,6.0,3.0,NaN,NaN,25.6,NaN,17.7,6.6,5126.0
1-7,Alabama,Bibb,21516,35.0,16.8,24.6,63.3,10.9,1.2,76.8,...,0.0,2.0,6.0,NaN,86.6,NaN,NaN,NaN,13.1,3315.0
1-9,Alabama,Blount,55725,86.0,11.9,24.5,62.1,12.1,1.3,97.1,...,0.0,0.0,3.0,33.5,74.6,24.2,NaN,23.6,8.4,8131.0