In [1]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report

from amb_sdk.sdk import DarwinSdk

In [20]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
ds.auth_login_user('ASANGISETTI@utexas.edu', '2yYJkCStKC')

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTU3MTExMTgsImlhdCI6MTU1NTcwMzkxOCwibmJmIjoxNTU1NzAzOTE4LCJqdGkiOiJjN2M5NjU5Yy02Njg4LTRmZDctYTBiZC1jODdjMDBkNTIyNWQiLCJpZGVudGl0eSI6IjZkMzFmMjA0LTRmMzUtMTFlOS1hOTFkLTIzZmM0YzIwZDQwOSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.L2zXt0xQiMrQegTIyrVgnPzHsB2n8TqmS3BI11h-dPI')

  # ALL Columns
  
  State_FIPS_Code
  County_FIPS_Code
 5 - CHSI_State_Name
 4 - CHSI_County_Name
 10 - Population_Size
 13 - Population_Density
 16 - Poverty
 19 - Age_19_Under
 22 - Age_19_64
 25 - Age_65_84
 28 - Age_85_and_Over
 31 - White
 34 - Black
 37- Native_American
 40 - Asian
 43 - Hispanic

 52 - ALE
 62 - Health_Status

 315 - LBW
 321 - VLBW
 327 - Premature
 333 - Under_18
 339 - Over_40
 351 - Late_Care
 357 - Infant_Mortality
 345 -  Unmarried
 393 - Brst_Cancer
 399 - Col_Cancer
 405 - CHD
 417 - Lung_Cancer
 435 - Suicide

 484 - No_HS_Diploma
 485 - Unemployed
 486 -  Sev_Work_Disabled
 487 - Major_Depression
 488 - Recent_Drug_Use
 489 Ecol_Rpt
 491 Ecol_Exp
 492 Salm_Rpt
 494 Salm_Exp
 495 Shig_Rpt
 497 Shig_Exp

 512 FluB_Rpt
 514 FluB_Exp
 515 HepA_Rpt
 517 HepA_Exp
 518 HepB_Rpt
 520 HepB_Exp
 521 Meas_Rpt
 523 Meas_Exp
 524 Pert_Rpt
 526 Pert_Exp
 527 CRS_Rpt
 529 CRS_Exp
 530 Syphilis_Rpt
 532 Syphilis_Exp

 
 555 - No_Exercise
 558 - Few_Fruit_Veg
 561 - Obesity
 564 - High_Blood_Pres
 567 - Smoker
 570 - Diabetes
 573 - Uninsured

In [3]:
df_list = []

def create_new_df(dataset_name, column_names):
    df = pd.read_csv(dataset_name)
    return df[column_names]

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'CHSI_State_Name','CHSI_County_Name','Population_Size','Population_Density','Poverty','Age_19_Under','Age_19_64','Age_65_84','Age_85_and_Over','White','Black','Native_American','Asian','Hispanic']
demographics_df = create_new_df("DEMOGRAPHICS.csv", col_names)
df_list.append(demographics_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'ALE', 'Health_Status']
summ_meas_health_df = create_new_df("SUMMARYMEASURESOFHEALTH.csv", col_names)
df_list.append(summ_meas_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'LBW','VLBW','Premature','Under_18','Over_40','Late_Care','Infant_Mortality','Unmarried','Brst_Cancer','Col_Cancer','CHD','Lung_Cancer','Suicide']
meas_birth_and_death_df = create_new_df("MEASURESOFBIRTHANDDEATH.csv", col_names)
df_list.append(meas_birth_and_death_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_HS_Diploma','Unemployed','Sev_Work_Disabled','Major_Depression','Recent_Drug_Use','Ecol_Rpt','Ecol_Exp','Salm_Rpt','Salm_Exp','Shig_Rpt','Shig_Exp']
vuln_pop_and_env_health_df = create_new_df("VUNERABLEPOPSANDENVHEALTH.csv", col_names)
df_list.append(vuln_pop_and_env_health_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'FluB_Rpt','FluB_Exp','HepA_Rpt','HepA_Exp','HepB_Rpt','HepB_Exp','Meas_Rpt','Meas_Exp','Pert_Rpt','Pert_Exp','CRS_Rpt','CRS_Exp','Syphilis_Rpt','Syphilis_Exp']
prev_services_df = create_new_df("PREVENTIVESERVICESUSE.csv", col_names)
df_list.append(prev_services_df)

col_names = ['State_FIPS_Code', 'County_FIPS_Code', 'No_Exercise','Few_Fruit_Veg','Obesity','High_Blood_Pres','Smoker','Diabetes','Uninsured']
risk_factors_df = create_new_df("RISKFACTORSANDACCESSTOCARE.csv", col_names)
df_list.append(risk_factors_df)

labels = create_new_df("RISKFACTORSANDACCESSTOCARE.csv", ['State_FIPS_Code', 'County_FIPS_Code', 'HPSA_Ind'])
df_list.append(labels)
labels.head()

   State_FIPS_Code  County_FIPS_Code  HPSA_Ind
0                1                 1         2
1                1                 3         2
2                1                 5         2
3                1                 7         1
4                1                 9         1

In [4]:
def merge_state_and_county_codes(df):
    df["State_And_County_FIPS_Code"] = df["State_FIPS_Code"].map(str) + "-" + df["County_FIPS_Code"].map(str)
    df = df.drop(columns = ['State_FIPS_Code', 'County_FIPS_Code'])
    return df

In [5]:
#Merges State and County Codes for each df
for df_idx in range(len(df_list)):
    df_list[df_idx] = merge_state_and_county_codes(df_list[df_idx])

In [6]:
df_list = [df.set_index("State_And_County_FIPS_Code") for df in df_list]
merged_df = df_list[0].join(df_list[1:])

In [7]:
merged_df.head()

,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,...,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Few_Fruit_Veg,Obesity,High_Blood_Pres,Smoker,Diabetes,Uninsured,HPSA_Ind
State_And_County_FIPS_Code,,,,,,,,,,,,,,,,,,,,,
1-1,Alabama,Autauga,48612,82,10.4,26.9,62.3,9.8,0.9,80.7,...,8,2,27.8,78.6,24.5,29.1,26.6,14.2,5690,2
1-3,Alabama,Baldwin,162586,102,10.2,23.5,60.3,14.5,1.8,88.4,...,0,4,27.2,76.2,23.6,30.5,24.6,7.2,19798,2
1-5,Alabama,Barbour,28414,32,22.1,24.3,62.5,11.6,1.6,52.2,...,6,3,-1111.1,-1111.1,25.6,-1111.1,17.7,6.6,5126,2
1-7,Alabama,Bibb,21516,35,16.8,24.6,63.3,10.9,1.2,76.8,...,2,6,-1111.1,86.6,-1111.1,-1111.1,-1111.1,13.1,3315,1
1-9,Alabama,Blount,55725,86,11.9,24.5,62.1,12.1,1.3,97.1,...,0,3,33.5,74.6,24.2,-1111.1,23.6,8.4,8131,1

In [24]:
cleaned_merged_df = merged_df.replace([-9999, -9998.9, -2222.2, -2222, -1111.1, -1111, -2, -1], np.nan)
cleaned_merged_df.head()
cleaned_merged_df.dtypes

CHSI_State_Name        object
CHSI_County_Name       object
Population_Size         int64
Population_Density    float64
Poverty               float64
Age_19_Under          float64
Age_19_64             float64
Age_65_84             float64
Age_85_and_Over       float64
White                 float64
Black                 float64
Native_American       float64
Asian                 float64
Hispanic              float64
ALE                   float64
Health_Status         float64
LBW                   float64
VLBW                  float64
Premature             float64
Under_18              float64
Over_40               float64
Late_Care             float64
Infant_Mortality      float64
Unmarried             float64
Brst_Cancer           float64
Col_Cancer            float64
CHD                   float64
Lung_Cancer           float64
Suicide               float64
No_HS_Diploma         float64
                       ...
Major_Depression        int64
Recent_Drug_Use         int64
Ecol_Rpt              float64
Ecol_Exp              float64
Salm_Rpt              float64
Salm_Exp              float64
Shig_Rpt              float64
Shig_Exp              float64
FluB_Rpt              float64
FluB_Exp              float64
HepA_Rpt              float64
HepA_Exp              float64
HepB_Rpt              float64
HepB_Exp              float64
Meas_Rpt              float64
Meas_Exp              float64
Pert_Rpt              float64
Pert_Exp              float64
CRS_Rpt               float64
CRS_Exp               float64
Syphilis_Rpt          float64
Syphilis_Exp          float64
No_Exercise           float64
Few_Fruit_Veg         float64
Obesity               float64
High_Blood_Pres       float64
Smoker                float64
Diabetes              float64
Uninsured             float64
HPSA_Ind                int64
Length: 62, dtype: object

In [36]:
dataset_name_csv = "cleaned_merged.csv"
status, job_id = ds.analyze_data(dataset_name_csv)
print(job_id)

{'job_name': '279e45abb1344a3e94ca2d5b9cd820a7', 'artifact_name': 'c697fa8212754f19b44ac27509a8b33b'}

In [40]:
print(job_id['artifact_name'])
ds.download_artifact(job_id['artifact_name'])

c697fa8212754f19b44ac27509a8b33b

(True,               col_name num_uniques                   mean  \
 0      CHSI_State_Name          49                   None
 1     CHSI_County_Name        1907                   None
 2      Population_Size        2949      94368.16427889207
 3   Population_Density         586     249.90636942675158
 4              Poverty         275     13.350159235668787
 5         Age_19_Under         226     24.806526583890488
 6            Age_19_64         211      60.28939828080227
 7            Age_65_84         210     12.789430117796885
 8      Age_85_and_Over          66     2.1154091053804525
 9                White         532       87.0178923909583
 10               Black         497       8.98669213626234
 11     Native_American         199      1.974243871378542
 12               Asian         118      1.123049984081503
 13            Hispanic         382      7.017987901942058
 14                 ALE         114      76.32287352660084
 15       Health_Status         316     17.316754138070245
 16                 LBW         121     7.5694212218649515
 17                VLBW          36      1.373855092276144
 18           Premature         154     11.877400768245842
 19            Under_18         128      4.750130633572828
 20             Over_40          70     1.7429757555629357
 21           Late_Care         359      17.79129287598944
 22    Infant_Mortality         173      7.410027855153203
 23           Unmarried         550      32.06573069559668
 24         Brst_Cancer         326      26.32523636363636
 25          Col_Cancer         281     21.354869684499317
 26                 CHD        1479      191.0664958360026
 27         Lung_Cancer         612     58.639830231798896
 28             Suicide         257     13.544843391902216
 29       No_HS_Diploma        2702     12050.016878980892
 ..                 ...         ...                    ...
 31   Sev_Work_Disabled        1920      2983.311596530678
 32    Major_Depression        2303      5431.817255651066
 33     Recent_Drug_Use        2396      5323.731614135626
 34            Ecol_Rpt          64      4.385350318471337
 35            Ecol_Exp          56     4.6369426751592355
 36            Salm_Rpt         269      46.82579617834395
 37            Salm_Exp         272      46.73089171974522
 38            Shig_Rpt         208     23.169426751592358
 39            Shig_Exp         190     22.970382165605095
 40            FluB_Rpt          48     1.9751592356687897
 41            FluB_Exp          30     1.8627388535031848
 42            HepA_Rpt         141     12.278662420382165
 43            HepA_Exp         125                   12.5
 44            HepB_Rpt         115      8.842038216560509
 45            HepB_Exp         113        8.5343949044586
 46            Meas_Rpt          16    0.11687898089171975
 47            Meas_Exp           3   0.017834394904458598
 48            Pert_Rpt         145     10.455732484076433
 49            Pert_Exp         108     10.339171974522293
 50             CRS_Rpt           2  0.0022292993630573248
 51             CRS_Exp           1                    0.0
 52        Syphilis_Rpt         108      8.228662420382166
 53        Syphilis_Exp          86      8.070700636942675
 54         No_Exercise         347     26.508386219401636
 55       Few_Fruit_Veg         264      78.92316176470585
 56             Obesity         288      24.14518884892086
 57     High_Blood_Pres         277     26.480946123521683
 58              Smoker         320     23.112880458756067
 59            Diabetes         173      7.810187568959176
 60           Uninsured        2744      12659.02039515615

                  stddev   min        max     col_type   missing  \
 0                  None  None       None   StringType  0.000000
 1                  None  None       None   StringType  0.000000
 2      306431.655763125    62    9935475  IntegerType  0.000000
 3    1702.7418095851015   0.0    69390.0   DoubleType  0.000318
 4    4.8833076074557695   2.2       36.2   DoubleType  0.000318
 5      3.28177733639539   1.4       47.2   DoubleType  0.000000
 6    3.3560562692548355  47.6       83.3   DoubleType  0.000000
 7     3.334034542589773   2.1       29.2   DoubleType  0.000000
 8    0.9491186322693742   0.1        7.6   DoubleType  0.000000
 9    16.150478631148005   4.7      100.0   DoubleType  0.000000
 10   14.545659099557504   0.0       86.0   DoubleType  0.000000
 11    7.675445303980294   0.0       93.4   DoubleType  0.000000
 12   2.7572366382572113   0.0       55.9   DoubleType  0.000000
 13   12.464726711850826   0.0       97.5   DoubleType  0.000000
 14    1.997499845910797  66.6       81.3   DoubleType  0.000637
 15    6.088056539870632   2.2       47.7   DoubleType  0.211398
 16    1.846797229219755   2.1       15.6   DoubleType  0.009869
 17  0.49959638908425436   0.2        3.6   DoubleType  0.068450
 18   2.3986497225044388   5.1       23.5   DoubleType  0.005412
 19    2.291837065366352   0.3       14.5   DoubleType  0.025151
 20   0.9140430679004115   0.2        9.1   DoubleType  0.041388
 21    6.774565502956794   2.0       53.5   DoubleType  0.034702
 22    2.888455214749078   0.0       23.7   DoubleType  0.085642
 23   11.259706448213402   6.1       77.9   DoubleType  0.002229
 24    5.845010700556448   9.5       62.3   DoubleType  0.124483
 25    4.673956927709733   9.0       46.3   DoubleType  0.071633
 26    48.27354447595339  59.8      412.9   DoubleType  0.006049
 27   14.459839886165652  10.5      166.4   DoubleType  0.024833
 28     5.32833663874579   4.5       91.3   DoubleType  0.166507
 29   47619.455838621165   7.0  1872316.0   DoubleType  0.000318
 ..                  ...   ...        ...          ...       ...
 31   27994.609912692147   1.0  1474332.0   DoubleType  0.008914
 32   16322.346500991853     4     495905  IntegerType  0.000000
 33   18738.553988243133     2     665392  IntegerType  0.000000
 34   10.628688121615575   0.0      259.0   DoubleType  0.000318
 35     9.27358611210796   0.0      293.0   DoubleType  0.000318
 36    99.01961877828874   0.0     1970.0   DoubleType  0.000318
 37    88.31191571894136   0.0     2635.0   DoubleType  0.000318
 38    82.74510514780727   0.0     2027.0   DoubleType  0.000318
 39     56.0541773767402   0.0     1464.0   DoubleType  0.000318
 40     6.34155935824153   0.0      157.0   DoubleType  0.000318
 41    4.120819502908697   0.0       31.0   DoubleType  0.000318
 42    44.27055300956373   0.0     1543.0   DoubleType  0.000318
 43    35.84398159032018   0.0     1171.0   DoubleType  0.000318
 44     31.8075291023947   0.0      782.0   DoubleType  0.000318
 45    26.98209667628159   0.0      878.0   DoubleType  0.000318
 46   1.2241731921848626   0.0       51.0   DoubleType  0.000318
 47  0.17759254607013208   0.0        2.0   DoubleType  0.000318
 48     37.2706230952906   0.0      650.0   DoubleType  0.000318
 49   27.054190199342308   0.0      878.0   DoubleType  0.000318
 50   0.0471703105596982   0.0        1.0   DoubleType  0.000318
 51                  0.0   0.0        0.0   DoubleType  0.000318
 52   49.094332938971434   0.0     1137.0   DoubleType  0.000318
 53   35.942337737969645   0.0     1171.0   DoubleType  0.000318
 54   6.6958631034881195   8.3       52.4   DoubleType  0.297676
 55    5.160923172324307  63.1       96.4   DoubleType  0.393824
 56    4.904128481967909   4.2       42.6   DoubleType  0.291945
 57    5.436606596072741   7.2       47.1   DoubleType  0.515441
 58    5.733813084224229   3.6       46.2   DoubleType  0.278255
 59    2.764575914472235   0.5       20.8   DoubleType  0.134352
 60    54628.94589529509  11.0  2167891.0   DoubleType  0.000955

    num_with_str_outlier scalable is_cat notes   drop target  \
 0                 False    False   True        False  False
 1                 False    False   True         True  False
 2                 False     True  False        False  False
 3                 False     True  False        False  False
 4                 False     True  False        False  False
 5                 False     True  False        False  False
 6                 False     True  False        False  False
 7                 False     True  False        False  False
 8                 False     True  False        False  False
 9                 False     True  False        False  False
 10                False     True  False        False  False
 11                False     True  False        False  False
 12                False     True  False        False  False
 13                False     True  False        False  False
 14                False     True  False        False  False
 15                False     True  False        False  False
 16                False     True  False        False  False
 17                False     True  False        False  False
 18                False     True  False        False  False
 19                False     True  False        False  False
 20                False     True  False        False  False
 21                False     True  False        False  False
 22                False     True  False        False  False
 23                False     True  False        False  False
 24                False     True  False        False  False
 25                False     True  False        False  False
 26                False     True  False        False  False
 27                False     True  False        False  False
 28                False     True  False        False  False
 29                False     True  False        False  False
 ..                  ...      ...    ...   ...    ...    ...
 31                False     True  False        False  False
 32                False     True  False        False  False
 33                False     True  False        False  False
 34                False     True  False        False  False
 35                False     True  False        False  False
 36                False     True  False        False  False
 37                False     True  False        False  False
 38                False     True  False        False  False
 39                False     True  False        False  False
 40                False     True  False        False  False
 41                False     True  False        False  False
 42                False     True  False        False  False
 43                False     True  False        False  False
 44                False     True  False        False  False
 45                False     True  False        False  False
 46                False     True  False        False  False
 47                False     True  False        False  False
 48                False     True  False        False  False
 49                False     True  False        False  False
 50                False     True  False        False  False
 51                False     True  False        False  False
 52                False     True  False        False  False
 53                False     True  False        False  False
 54                False     True  False        False  False
 55                False     True  False        False  False
 56                False     True  False        False  False
 57                False     True  False        False  False
 58                False     True  False        False  False
 59                False     True  False        False  False
 60                False     True  False        False  False

                                               uniques
 0   ['Alabama', 'Alaska', 'Arizona', 'Arkansas', '...
 1                                                None
 2                                                None
 3                                                None
 4                                                None
 5                                                None
 6                                                None
 7                                                None
 8                                                None
 9                                                None
 10                                               None
 11                                               None
 12                                               None
 13                                               None
 14                                               None
 15                                               None
 16                                               None
 17  ['0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0....
 18                                               None
 19                                               None
 20                                               None
 21                                               None
 22                                               None
 23                                               None
 24                                               None
 25                                               None
 26                                               None
 27                                               None
 28                                               None
 29                                               None
 ..                                                ...
 31                                               None
 32                                               None
 33                                               None
 34                                               None
 35                                               None
 36                                               None
 37                                               None
 38                                               None
 39                                               None
 40  ['0.0', '1.0', '10.0', '11.0', '12.0', '13.0',...
 41  ['0.0', '1.0', '10.0', '11.0', '12.0', '13.0',...
 42                                               None
 43                                               None
 44                                               None
 45                                               None
 46  ['0.0', '1.0', '10.0', '12.0', '13.0', '14.0',...
 47                              ['0.0', '1.0', '2.0']
 48                                               None
 49                                               None
 50                                     ['0.0', '1.0']
 51                                            ['0.0']
 52                                               None
 53                                               None
 54                                               None
 55                                               None
 56                                               None
 57                                               None
 58                                               None
 59                                               None
 60                                               None

 [61 rows x 15 columns])

In [38]:
target = "HPSA_Ind"

cleaned_merged_df.to_csv(dataset_name_csv, index=False)
dataset = ds.upload_dataset(dataset_name_csv)
status = ds.clean_data(dataset_name_csv, target=target )

print(status)

(True, {'job_name': 'b13797157e014b8fba494dea82c6f336', 'artifact_name': '05101d89c2e844e3a6ad123726891abb'})

In [39]:
ds.download_artifact('05101d89c2e844e3a6ad123726891abb')

(False,
 '404: NOT FOUND - {"message": "Failed to find artifact 05101d89c2e844e3a6ad123726891abb"}\n')

In [16]:
model = target + "_model0"
status, job_id = ds.create_model(dataset_names = "cleaned_merged.csv", \
                                 model_name =  model, \
                                 max_train_time = '00:02')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

400: BAD REQUEST - {"message": "A model with this name already exists"}