In [2]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report

from amb_sdk.sdk import DarwinSdk

In [5]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
status, msg = ds.auth_login_user('ASANGISETTI@utexas.edu', '2yYJkCStKC')
# ds.get_info()
print(msg)

Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTQ4NjM2MjgsImlhdCI6MTU1NDg1NjQyOCwibmJmIjoxNTU0ODU2NDI4LCJqdGkiOiJlOTUwOGM3Ny0zMzY5LTQyNmUtOWI0NS0wODI4NDczNTc1OGIiLCJpZGVudGl0eSI6IjZkMzFmMjA0LTRmMzUtMTFlOS1hOTFkLTIzZmM0YzIwZDQwOSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.P4IKjiNcs0--cNfTawa3gHj9DJ6tP46tXjtrlgkXTOU

In [3]:
df = pd.read_csv("DEMOGRAPHICS.csv")
df.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,Strata_Determining_Factors,Number_Counties,Population_Size,Min_Population_Size,...,Max_Black,Native_American,Min_Native_American,Max_Native_American,Asian,Min_Asian,Max_Asian,Hispanic,Min_Hispanic,Max_Hispanic
0,1,1,Autauga,Alabama,AL,29,"frontier status, population size, poverty, age",37,48612,28447,...,17.3,0.5,0.1,1.1,0.6,0.2,2.2,1.7,0.8,19.2
1,1,3,Baldwin,Alabama,AL,16,"frontier status, population size, poverty, age",27,162586,118395,...,14.1,0.5,0.1,1.1,0.4,0.4,3.3,2.3,0.8,13.7
2,1,5,Barbour,Alabama,AL,51,"frontier status, population size, poverty, age...",33,28414,27269,...,50.7,0.4,0.2,7.1,0.3,0.2,2.3,3.1,1.0,67.7
3,1,7,Bibb,Alabama,AL,42,"frontier status, population size, poverty, age",53,21516,8134,...,35.4,0.3,0.1,2.6,0.1,0.1,1.5,1.4,1.2,46.9
4,1,9,Blount,Alabama,AL,28,"frontier status, population size, poverty, age",39,55725,29009,...,20.5,0.5,0.1,0.9,0.2,0.3,2.2,6.3,0.8,6.3

In [7]:
status, dataset = ds.upload_dataset("DEMOGRAPHICS.csv")
print(dataset)
if not status:
    print(dataset)

400: BAD REQUEST - {"message": "Dataset already exists"}

400: BAD REQUEST - {"message": "Dataset already exists"}